$color-chartreuse: rgb(190, 222, 75); /*#bede4b;*/
$color-green: rgb(94, 166, 50); /*#5ea632;*/
$color-darkgreen: rgb(52, 98, 24);/*#346218;*/
$color-lightgreen: rgb(230, 242, 201);/*#e6f2c9;*/
$white: rgb(255, 255, 255);
$blue: rgb(104, 185, 247);

$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$big-desktop: 1800px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
